<a href="https://colab.research.google.com/github/sahan-2001/Machine-Learning-Tutorial-1-UOM-/blob/main/Tutorial_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Use of the `print` Function**

In [ ]:
print ("Sri Lanka")

Sri Lanka

**Use of a Simple Mathematical Function**

Finding the sum

In [ ]:
20 + 30

50

Finding the product

In [ ]:
2 * 5 * 10

100

Storing the values using variables

In [ ]:
x = 7
print (x)

7

**Obtaining the data type of the stored value**

In [ ]:
x = 7
type(x)

int

In [ ]:
print (type(x))

<class 'int'>

In [ ]:
x = 7.5
type (x)

float

In [ ]:
x = 7 + 7.5j
type (x)

complex

In [ ]:
x = True
type (x)

bool

Using the `input` function to obtain the user inputs (Integers).

In [ ]:
#Assigning a number value to x
x = int(input('Enter number x:'))
#Assigning another number value to y
y = int(input('Enter number y:'))
#Obtaining the addition of two inputs
print ('Addition of x and y is:', (x+y))

Enter number x:2
Enter number y:3
Addition of x and y is: 5

Using the `input` function to obtain the user inputs (Text or Strings).

In [ ]:
x = (input('Enter a string x:'))
y = (input('Enter a string y:'))
print ('Concatonation of x and y is:', (x+y))

Enter a string x:Ann
Enter a string y:tea
Concatonation of x and y is: Anntea

**Objects in Python**

List

In [ ]:
#Starts with brackets
L1 = ["James", 22, True, 178.5]
L1

['James', 22, True, 178.5]

In [ ]:
type(L1)

list

Tuple

In [ ]:
#Starts with parantheses
tup= ("Apples", False, 10, 6.02214076e23)
print(tup)
print (type(tup))

('Apples', False, 10, 6.02214076e+23)
<class 'tuple'>

Dictionary

In [ ]:
#Starts with curly braces
employee = {"Name": "James", "Age": 22, "Married": True, "Height": 178.5}
print(employee)
print (type(employee))

{'Name': 'James', 'Age': 22, 'Married': True, 'Height': 178.5}
<class 'dict'>

Set

It should be noted that sets only consider unique values and does not consider any duplicates.

In [ ]:
month = {"Jan", "Feb", "Mar", "Apr", "Jan"}
print(month)
print (type(month))

{'Jan', 'Mar', 'Feb', 'Apr'}
<class 'set'>

Printing the elements in a list

In [ ]:
#First print the whole list
L1

['James', 22, True, 178.5]

In [ ]:
#Get the object where the index value is zero (0) in `L1`
L1[0]

'James'

In [ ]:
#Get the object where the index value is 1 in `L1`
L1[1]

22

Negative Indexing in a List

In [ ]:
#Get the object where the index value is -1 (or negative index value is 1) in `L1`
L1[-1]

178.5

Use of Slicing in Lists

In [ ]:
#The value of the last index mentioned is exclusive
L1[1:3]

[22, True]

In [ ]:
#If we want to include the value of the last indexed we have to mention it as follows
L1[1:4]

[22, True, 178.5]

Adding a new value to the end of a list

In [ ]:
#Adding the weight of James to the list
L1.append(80)
L1

['James', 22, True, 178.5, 80]

Printing the List in the reverse order

In [ ]:
#Reverse the order of the list
L1.reverse()
print(L1)

[80, 178.5, True, 22, 'James']

Printing the value of a given variable in the dictionary

In [ ]:
employee
print(employee.get("Name"))

James

Updating values in a dictionary

In [ ]:
employee.update({"Age": 24})
employee

{'Name': 'James', 'Age': 24, 'Married': True, 'Height': 178.5}

**Python Conditions and If Statements** (**Ternary Operators**, or **Conditional
Expressions**.)

Python supports the usual logical conditions from mathematics:

*   Equals: a == b
*   Not Equals: a != b
*   Less than: a < b
*   Less than or equal to: a <= b
*   Greater than: a > b
*   Greater than or equal to: a >= b


These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the `if` keyword.

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

The `elif` keyword is Python's way of saying "If the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

The `else` keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

We can also have an `else` without the `elif` too.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

**Short Hand If**


If you have only one statement to execute, you can put it on the same line as the if statement.

In [ ]:
if a > b: print("a is greater than b")

a is greater than b

**Short Hand If ... Else**


If you have only one statement to execute, one for `if`, and one for `else`, you can put it all on the same line.

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

B

**AND**


The `and` keyword is a logical operator, and is used to combine conditional statements.

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

**OR**


The `or` keyword is a logical operator, and is used to combine conditional statements.

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

**NOT**


The `not` keyword is a logical operator, and is used to reverse the result of the conditional statement.

In [ ]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

**Nested If**


You can have if statements inside if statements, this is called "nested if" statements.

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above twenty.")
  else:
    print("but not above twenty.")

Above ten,
and also above twenty.

**The pass Statement**


The `if` statements cannot be empty, but for some reason if you have an `if` statement with no content, put in the `pass` statement to avoid getting an error.

In [ ]:
a = 33
b = 200

if b > a:
  pass

**Python Loops**

Python has two primitive loop commands:


*   while loops
*   for loops

**The while Loop**


With the while loop we can execute a set of statements as long as a condition is true.

A while loop is used when we are not sure about number of iterations at the beginning of the loop but only know the condition where the loop should be repeated.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

**The break Statement**

With the break statement we can stop the loop even if the while condition is true.

In [ ]:
i = 1
while i < 6:
    print(i)
    if i == 3:
      break
    i += 1

1
2
3

**The continue Statement**

With the continue statement we can stop the current iteration, and continue with (start from) the next iteration.

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

**The else Statement**


With the else statement we can run a block of code once when the condition is no longer true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

**Python `for` Loops**

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the `for` keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

A `for` loop is used instead of a `while` loop when we know the number of iterations to execute at the beginning of the loop.

**Prints each element in the list seperately**

In [ ]:
#Iterate over each of the item in the list
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

**Looping through a String**

Even strings are iterable objects, as they contain a sequence of characters.

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

**The break Statement**

With the break statement we can stop the loop before it has looped through all the items.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
#What happens if the break comes before print?
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

**The continue Statement**

With the continue statement we can stop the current iteration of the loop, and start from the beginning of the next iteration.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

**The range function**

To loop through a set of code a specified number of times, we can use the `range` function,

The `range` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends  at the specified number (excluding that number).

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

The `range` function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: `range(2, 6)`, which means on values from 2 to 6 (but not including 6):

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

The `range` function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: `range(2, 30, 3)`:

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

**Using `else` in a `for` Loop**

The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

The `else` block will NOT be executed if the loop is stopped by a `break` statement.

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

**Nested Loops**

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
#Using a nested `for` loop inside a `for` loop
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

**The pass Statement**

The `for` loops cannot be empty, but if you for some reason have a `for` loop with no content, put in the `pass` statement to avoid getting an error.

In [ ]:
for x in [0, 1, 2]:
  pass

**Python Functions**

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

**Creating a Function and calling it**

In [ ]:
#In Python a function is defined using the `def` keyword
def my_function():
  print("My name is Anne")

#To call a function, use the function name followed by parenthesis
my_function()

My name is Anne

**Arguments of a function**

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (firstname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
#Define and call function `print_name` to print the full name
def print_name(firstname):
  print(firstname + " Fernando")

print_name("Nethan")
print_name("Chad")
print_name("Natasha")

Nethan Fernando
Chad Fernando
Natasha Fernando

**Parameters or Arguments?**

The terms parameter and argument can be used for the same thing: information that are passed into a function.

From a function's perspective:
*   A parameter is the variable listed inside the parentheses in the function definition.
*   An argument is the value that is sent to the function when it is called.

**Number of Arguments**

By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [ ]:
#This function expects exactly 2 arguments when it is called
def print_name(firstname, lastname):
  print(firstname + " " + lastname)

print_name("Toby", "Simmons")

Toby Simmons

In [ ]:
#This function expects 2 arguments, but gets only 1, so it gives an error
def print_name(firstname, lastname):
  print(firstname + " " + lastname)

print_name("Toby")

TypeError: print_name() missing 1 required positional argument: 'lastname'

**Arbitrary Arguments**

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly.

In [ ]:
#Arbitrary Arguments are often shortened to *args in Python documentations
def print_youngest_kid(*kids):
  print("The youngest child is " + kids[2])

print_youngest_kid("Frank", "Mark", "Toby")

The youngest child is Toby

**Keyword Arguments**

You can also send arguments with the `key = value` syntax.

This way the order of the arguments does not matter.

In [ ]:
def print_youngest_kid(child3, child2, child1):
  print("The youngest child is " + child3)

print_youngest_kid(child1 = "Frank", child2 = "Mark", child3 = "Toby")

The youngest child is Toby

**Default Parameter Value**

The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value.

In [ ]:
def print_my_country(country = "Australia"):
  print("I am from " + country)

print_my_country("Sri Lanka")
print_my_country("India")
print_my_country()
print_my_country("Sweden")

I am from Sri Lanka
I am from India
I am from Australia
I am from Sweden

**Return Values**

To let a function return a value, use the return statement:

In [ ]:
def multiply_by_five(x):
  return 5 * x

print(multiply_by_five(3))
print(multiply_by_five(5))
print(multiply_by_five(9))

15
25
45